BIBLIO_SOLR='http://biblio-server/solr'
SOLRCLOUD_URL='http://solr-cloud-server/solr'
BROWSE_SOLR='http://catalog-solr-server/solr'
CALLNUMBER_CORE='callnumbers'
CALLNUMBER_COLLECTION='callnumbers'
AUTHORITY_CORE='authority_core'
AUTHORITY_COLLECTION='authority_collection'
SOLR_USER='solr'
SOLR_PASSWORD='SolrRocks'
SOLRCLOUD_ON='true'
