BIBLIO_SOLR='http://biblio-server/solr'
AUTHOR_SOLR='http://catalog-solr-server/solr'
BROWSE_SOLR='http://catalog-solr-server/solr'
CALLNUMBER_CORE='callnumbers'
AUTHORITY_CORE='authors'
SOLR_USER='solr'
SOLR_PASSWORD='SolrRocks'
SOLR_CLOUD_ON='false'
