<a href="<%= url %>" class="<%= classes if defined?(classes) %>" target="_blank" rel="noopener noreferrer"><%= text %><span class="visually-hidden"> - Opens in new window</span><span class="material-symbols-sharp">open_in_new</span></a>
