<% if list.show_table? %>
  <nav class="pagination" aria-label="<%= label %>">
    <ul>
      <% if list.has_previous_list? %>
        <li>
          <a href="<%= list.previous_url %>">
            <span class="material-symbols-sharp">chevron_left</span>
            Previous page
          </a>
        </li>
      <% end %>
      <% if list.has_next_list? %>
        <li>
          <a href="<%= list.next_url %>">
            Next page
            <span class="material-symbols-sharp">chevron_right</span>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
