<nav class="pagination" aria-label="<%= label %>">
  <ul>
    <li>
      <a href="<%= list.previous_url %>">
        <m-icon name="keyboard-arrow-left"></m-icon>
        Previous page
      </a>
    </li>
    <li>
      <a href="<%= list.next_url %>">
        Next page
        <m-icon name="keyboard-arrow-right"></m-icon>
      </a>
    </li>
  </ul>
</nav>
