<p>Works about: <a href="https://search.lib.umich.edu/catalog?library=All+libraries&query=subject%3A%28<%= params[:query] %>%29">5000+ Title(s)</a></p>
<h2>Reference Info</h2>
<dl class="reference-info">
  <dt>Broader Term:</dt>
  <dd>Physical sciences</dd>
  <dt>Narrower Term:</dt>
  <dd>
    <a href="/subject/heading-information?query=Electricity">Electricity</a>
    <span class="vernacular pipe">Works about: <a href="https://search.lib.umich.edu/catalog?library=All+libraries&query=subject%3A%28<%= params[:query] %>%29&filter.subject=Electricity">626</a></span>
  </dd>
  <dd>
    <a href="/subject/heading-information?query=Nanostructures">Nanostructures</a>
    <span class="vernacular pipe">Works about: <a href="https://search.lib.umich.edu/catalog?library=All+libraries&query=subject%3A%28<%= params[:query] %>%29&filter.subject=Nanostructures">249</a></span>
  </dd>
  <dt>Alternative Form(s):</dt>
  <dd>
    <a href="/subject/heading-information?query=Natural philosophy">Natural philosophy</a>
    <span class="vernacular pipe">Works about: <a href="https://search.lib.umich.edu/catalog?library=All+libraries&query=subject%3A%28<%= params[:query] %>%29&filter.subject=Nanostructures">97</a></span>
  </dd>
  <dd>Philosophy, Natural</dd>
  <dt>Heading Type:</dt>
  <dd>Topical Term</dd>
</dl>
