/*
  Search Product original colors:
  https://github.com/mlibrary/search/blob/master/src/stylesheets/modules/_colors.scss
*/
:root {
  /* Blue */
  --search-blue-100: #f2f9ff;
  --search-blue-200: #e6f3ff;
  --search-blue-300: #cce6ff;
  --search-blue-400: #126dc1;
  --search-blue-500: #0c5292;
  --search-blue-600: var(--color-blue-400);
  /* Neutral */
  --search-neutral-100: #fafafa;
  --search-neutral-200: #f2f2f2;
  --search-neutral-300: #e5e5e5;
  --search-neutral-400: #ccc;
  --search-neutral-500: #6e6e6e;
  --search-neutral-600: #4e4e4e;
  --search-neutral-700: #262626;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--search-neutral-600);
  font-family: 'Source Sans Pro', sans-serif;
  /* Sticky footer CSS */
  display: grid;
  grid-template-rows: auto auto auto auto 1fr auto;
}

/*
  Website Header
*/

m-website-header .website-header-inner-container {
  margin: 0 calc(-1 * var(--space-small));
}

m-website-header a {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: var(--space-xx-small) var(--space-small);
}

m-website-header a:hover {
  text-decoration: underline;
  text-underline-offset: var(--space-xxx-small);
}

/*
  Text
*/

h1 {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
}

.strong {
  font-weight: var(--bold);
}

/*
  Anchors
*/

a {
  color: var(--search-blue-400);
}

a:hover,
a:focus {
  text-decoration-thickness: var(--space-xxx-small);
}

/*
  Images
*/

m-icon {
  display: block;
  line-height: 0;
}

m-icon svg {
  height: auto;
  width: 24px;
}

/*
  Skip links
*/

.site-skip-links {
  background: var(--color-blue-400);
}

.site-skip-links:not(:focus-within) {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.site-skip-links a {
  color: white;
  padding: var(--space-x-small);
}
.site-skip-links ul {
  margin: var(--space-medium) 0;
  text-align: center;
  list-style: none;
}

.site-skip-links ul li + li {
  margin-top: var(--space-medium);
}

/*
  Search box
*/

.search-box {
  background: var(--search-blue-200);
  border-bottom: solid var(--space-xxx-small) var(--search-blue-300);
  padding: var(--space-xx-small) 0 var(--space-medium) 0;
}

.search-box .viewport-container {
  display: flex;
}

.search-box .viewport-container > * {
  flex: 1 1 auto;
  margin-top: var(--space-small);
}

.search-box .search-box-dropdown {
  max-width: 280px;
  position: relative;
  width: 100%;
}

.search-box select,
.search-box input,
.search-box button {
  all: unset;
  box-sizing: border-box;
  line-height: 1.6 !important;
  padding: var(--space-x-small) var(--space-small);
}

.search-box select:focus,
.search-box input:focus,
.search-box button:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-maize-400),
    0 0 0 3px var(--color-neutral-400) !important;
}

.search-box select,
.search-box input {
  border: 1px solid var(--search-blue-400);
  max-width: 100%;
}

.search-box select {
  background: var(--search-neutral-100);
  border-radius: var(--radius-default) 0 0 var(--radius-default);
  padding-right: var(--space-xx-large);
  width: 100%;
}

.search-box .search-box-dropdown m-icon {
  position: absolute;
  right: 0.5rem;
  top: 0.6rem;
  pointer-events: none;
}

.search-box input {
  background: white;
  border-left-width: 0;
  border-radius: 0 var(--radius-default) var(--radius-default) 0;
}

.search-box input:focus {
  z-index: 2;
}

.search-box button {
  background: var(--search-blue-400);
  border-bottom: 3px solid var(--search-blue-500);
  border-radius: var(--radius-default);
  color: white;
  cursor: pointer;
  flex-grow: 0!important;
  font-weight: 600;
  margin-left: var(--space-small);
}

.search-box button:active {
  background: var(--search-blue-500);
  border-bottom-color: var(--search-blue-600);
}

@media only screen and (max-width: 719px) {
  .search-box .viewport-container {
    flex-wrap: wrap;
  }

  .search-box .search-box-dropdown {
    max-width: 100%;
  }

  .search-box select,
  .search-box input {
    border-left-width: 1px;
    border-radius: var(--radius-default);
  }
}

/*
  Main
*/

main {
  margin-bottom: var(--space-xx-large);
  margin-top: var(--space-xx-large);
}

main > *:first-child {
  margin-top: 0;
}

main > *:last-child {
  margin-bottom: 0;
}

/*
  Pagination
*/

nav.pagination ul {
  display: flex;
  line-height: 1;
  list-style: none;
  padding-left: 0;
}

nav.pagination ul li + li {
  border-left: 1px solid var(--color-neutral-400);
  margin-left: var(--space-small);
  padding-left: var(--space-small);
}

nav.pagination a {
  align-items: center;
  display: flex;
}

nav.pagination m-icon svg {
  position: relative;
  top: var(--space-xxx-small);
}

/*
  Browse table
*/

table.browse-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 calc(var(--viewport-margin) * -1);
  text-align: left;
  width: calc(var(--viewport-margin) * 2 + 100%);
}

.browse-table thead {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.browse-table tr > * {
  border-color: var(--search-neutral-400);
  border-style: solid;
  border-width: 0;
  display: block;
  padding: var(--space-small) var(--space-medium);
  vertical-align: top;
}

.browse-table tr:last-child > *:last-child {
  border-bottom-width: var(--space-xxx-small);
}

.browse-table tr[class] > * {
  border-left-width: var(--space-xxx-small);
  border-right-width: var(--space-xxx-small);
}

.browse-table tr[class^="match-"] > * {
  background: var(--search-neutral-200);
}

.browse-table tr.match-notice > *,
.browse-table tr.exact-match > * {
  border-color: var(--color-teal-400);
}

.browse-table tr.match-notice > * {
  background: var(--color-teal-100);
}

.browse-table tbody tr > *:first-of-type {
  border-top-width: var(--space-xxx-small);
}

.browse-table tr > * + * {
  padding-top: 0;
}

.browse-table th,
.browse-table td:first-of-type:not([colspan]) {
  white-space: nowrap;
}

.browse-table td > * {
  margin: 0;
}

.browse-table td a {
  font-weight: var(--semibold);
}

@media only screen and (min-width: 720px) {
  table.browse-table {
    margin: 0;
    width: 100%;
  }

  .browse-table thead {
    all: revert;
  }

  .browse-table thead tr > * {
    border-color: var(--color-maize-400);
  }

  .browse-table tr > * {
    display: table-cell;
  }

  .browse-table tr:last-child > * {
    border-bottom-width: var(--space-xxx-small);
  }

  .browse-table tbody tr > * {
    border-top-width: var(--space-xxx-small);
  }

  .browse-table tbody tr > *:not(:first-child) {
    border-left: 0;
  }

  .browse-table tbody tr > *:not(:last-child) {
    border-right: 0;
  }

  .browse-table tr > * + * {
    padding-top: var(--space-small);
  }

  .browse-table td:first-of-type:not([colspan]) {
    width: 200px;
  }
}

/*
  Datastores navigation
*/
  
.datastores-nav {
  background: var(--search-neutral-100);
  border-bottom: solid var(--space-xxx-small) var(--search-neutral-200);
}

.datastores-nav .menu-nav {
  display: flex;
  justify-content: center;
}

.datastores-nav .menu-nav ol {
  border: 0;
  margin-bottom: calc(var(--space-xxx-small) * -1);
  padding: 0;
}

.datastores-nav .menu-nav ol a {
  border-bottom: solid var(--space-xxx-small) transparent;
  display: block;
  height: 100%;
  padding: var(--space-small);
}

.datastores-nav .menu-nav ol a[aria-current=page] {
  border-color: var(--search-blue-400);
  color: var(--search-blue-400);
  font-weight: 600;
}

@media only screen and (max-width: 719px) {
  .datastores-nav .menu-nav {
    padding: 0;
  }

  .datastores-nav .menu-nav ol {
    flex-direction: column;
    margin-bottom: 0;
    width: 100%;
  }

  .datastores-nav .menu-nav ol a {
    border-bottom: solid 1px var(--search-neutral-200);
    border-left: solid var(--space-xxx-small) transparent;
  }

  .datastores-nav .menu-nav ol li:last-of-type a {
    border-bottom: 0;
  }
  
  .datastores-nav .menu-nav ol a[aria-current=page] {
    border-color: var(--search-neutral-200);
    border-left-color: var(--search-blue-400);
  }
}

/*
  Footer
*/

.page-footer {
  text-align: center;
}

.page-footer__content,
.page-footer__disclaimer span {
  display: block;
}

@media only screen and (min-width: 720px) {
  .page-footer__content nav ul {
    margin: 0 -1rem;
  }
  
  .page-footer__content nav li {
    display: inline-block;
    padding: 0 1rem;
  }
  
  .page-footer__disclaimer span {
    display: initial;
  }
}
