html {
  scroll-behavior: smooth;
}
body {
  /*
    Search Product original colors.
  */
  --search-blue-100: #f2f9ff;
  --search-blue-200: #e6f3ff;
  --search-blue-300: #cce6ff;
  --search-blue-400: #126dc1;
  --search-blue-500: #0c5292;
  --search-blue-600: var(--color-blue-400);

  --search-neutral-100: #fafafa;
  --search-neutral-200: #f2f2f2;
  --search-neutral-300: #e5e5e5;
  --search-neutral-400: #ccc;
  --search-neutral-500: #6e6e6e;
  --search-neutral-600: #4e4e4e;
  --search-neutral-700: #262626;

  --search-font: 'Source Sans Pro';
  
  color: var(--search-neutral-600);
  font-family: var(--search-font);
}

/*
  Sticky footer CSS
*/
body {
  display: grid;
  grid-template-rows: auto auto auto auto 1fr auto;
}

/*
  Skip links
*/
.site-skip-links {
  background: var(--color-blue-400);
}

.site-skip-links:not(:focus-within) {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.site-skip-links a {
  color: white;
  padding: var(--space-x-small);
}
.site-skip-links ul {
    margin: var(--space-medium) 0;
    text-align: center;
}

.site-skip-links ul li + li {
  margin-top: var(--space-medium);
}


h1 {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
}

.strong {
  font-weight: var(--bold);
}

.search-box {
  background: var(--search-blue-200);
  border-bottom: 2px solid var(--search-blue-300);
  padding: var(--space-medium) 0;
}

/*
  Images
*/
m-icon svg {
  height: auto;
}

/*
  Reset input and select styles.
*/
.search-box select,
.search-box input,
.search-box button {
  all: unset;
  padding: var(--space-x-small) var(--space-small);
  box-sizing: border-box;
  line-height: 1.6 !important;
}

.search-box select {
  background: var(--search-neutral-100);

  padding-right: var(--space-xx-large);
}

.search-box input {
  background: white;
  flex-grow: 1;
}

.search-box input:focus {
  z-index: 2;
}

.search-box button {
  background: var(--search-blue-400);
  color: white;
  font-weight: 600;
  margin-left: var(--space-small);
}

/*
  Search box borders
*/

.search-box-inner-container {
  display: flex;
  width: 100%;
}

.search-box select {
  border: solid 1px var(--search-blue-400);
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.search-box-select-icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentcolor;
  position: absolute;
  right: 0.5rem;
  top: 0.6rem;
  pointer-events: none;
}

.search-box input {
  border: solid 1px var(--search-blue-400);
  border-left: 0;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  box-shadow: inset 0 1px 4px rgba(0,0,0,.08);
}

.search-box button {
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  align-items: center;
  padding: var(--space-small) var(--space-medium);
  border-bottom-color: var(--search-blue-500);
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

@media screen and (max-width: 719px) {
  .search-box-inner-container {
    flex-wrap: wrap;
  }

  .search-box select {
    width: 100%;
    border-radius: 4px;
    margin-bottom: var(--space-small);
  }

  .search-box input {
    border: solid 1px rgba(18, 108, 193, 0.4);
    border-right: 0;
    border-radius: 4px 0 0 4px;
  }
}

/*
  Search specific anchors
*/

a {
  color: var(--search-blue-400);
}

/*
  Main
*/
main {
  margin-bottom: var(--space-xx-large);
  margin-top: var(--space-xx-large);
}

main > *:first-child {
  margin-top: 0;
}

main > *:last-child {
  margin-bottom: 0;
}

/*
  Pagination
*/
nav.pagination ul {
  display: flex;
  line-height: 1;
  list-style: none;
  padding-left: 0;
}

nav.pagination ul li + li {
  border-left: 1px solid var(--color-neutral-400);
  margin-left: var(--space-small);
  padding-left: var(--space-small);
}

nav.pagination a {
  align-items: center;
  display: flex;
}

nav.pagination m-icon svg {
  position: relative;
  top: var(--space-xxx-small);
  width: 24px;
}

/*
  Browse table
*/
table.browse-table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}

.browse-table tr > * {
  border-top: solid var(--space-xxx-small) var(--search-neutral-400);
  padding: var(--space-medium) 0;
  vertical-align: top;
}

.browse-table tr > *:not(:last-child) {
  padding-right: var(--space-x-large);
}

.browse-table th:not([scope^='row']) {
  border-top: 0;
}

.browse-table th,
.browse-table td:first-of-type {
  white-space: nowrap;
}

.browse-table tr[class^="match-"] > * {
  background: var(--search-neutral-200);
  padding: var(--space-small);
}

.browse-table tr.match-notice > * {
  background: var(--color-maize-200);
  border-color: var(--color-maize-300);
}

.browse-table tr.match-notice + tr > td {
  border-color: var(--color-maize-300);
}

.browse-table td > * {
  margin: 0;
}

.browse-table td a {
  font-weight: var(--semibold);
}

.browse-table td p {
  font-size: 0.875em;
}

@media only screen and (max-width: 720px) {
  .browse-table thead {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }

  .browse-table tr > * {
    display: block;
  }

  .browse-table tr > *:not(:first-child) {
    border-top: 0;
  }

  .browse-table tr > *:not(:last-child) {
    padding-bottom: 0;
    padding-right: 0;
  }
}

/* global focus styles */

*:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-maize-400),
    0 0 0 3px var(--color-neutral-400) !important;
}

/*
  Datastores navigation
*/
  
.datastores-nav {
  background: var(--search-neutral-100);
  border-bottom: solid var(--space-xxx-small) var(--search-neutral-200);
}

.datastores-nav .menu-nav {
  display: flex;
  justify-content: center;
}

.datastores-nav .menu-nav ol {
  border: 0;
  margin-bottom: calc(var(--space-xxx-small) * -1);
  padding: 0;
}

.datastores-nav .menu-nav ol a {
  border-bottom: solid var(--space-xxx-small) transparent;
  display: block;
  height: 100%;
  padding: var(--space-small);
}

.datastores-nav .menu-nav ol a[aria-current=page] {
  border-color: var(--search-blue-400);
  color: var(--search-blue-400);
  font-weight: 600;
}

@media only screen and (max-width: 720px) {
  .datastores-nav .menu-nav {
    padding: 0;
  }

  .datastores-nav .menu-nav ol {
    flex-direction: column;
    margin-bottom: 0;
    width: 100%;
  }

  .datastores-nav .menu-nav ol a {
    border-bottom: solid 1px var(--search-neutral-200);
    border-left: solid var(--space-xxx-small) transparent;
  }

  .datastores-nav .menu-nav ol li:last-of-type a {
    border-bottom: 0;
  }
  
  .datastores-nav .menu-nav ol a[aria-current=page] {
    border-color: var(--search-neutral-200);
    border-left-color: var(--search-blue-400);
  }
}

/*
  Footer
*/
.page-footer {
  text-align: center;
}

.page-footer__content,
.page-footer__disclaimer span {
  display: block;
}

@media only screen and (min-width: 720px) {
  .page-footer__content nav ul {
    margin: 0 -1rem;
  }
  
  .page-footer__content nav li {
    display: inline-block;
    padding: 0 1rem;
  }
  
  .page-footer__disclaimer span {
    display: initial;
  }
}
