/**
 * anchors.css
 * 
 * Anchors are pieces of text which marks the beginning and/or
 * the end of a hypertext link.
 *
 * -----------------
 * Table of Contents
 * -----------------
 * 1.0 - Anchors
 *   1.1 - Pseudo Classes
 */



/*********************/
/*** 1.0 - Anchors ***/
/*********************/

a {
  color: var(--search-blue-400);
}

/*** 1.1 - Pseudo Classes ***/

a:hover,
a:focus {
  text-decoration-thickness: var(--space-xxx-small);
}
