/*
  Footer
*/

.page-footer {
  text-align: center;
}

.page-footer__content,
.page-footer__disclaimer span {
  display: block;
}

@media only screen and (min-width: 720px) {
  .page-footer__content nav ul {
    margin: 0 -1rem;
  }
  
  .page-footer__content nav li {
    display: inline-block;
    padding: 0 1rem;
  }
  
  .page-footer__disclaimer span {
    display: initial;
  }
}
