/**
 * footer.css
 * 
 * Footer contains extra navigation links and copyright information.
 *
 * -----------------
 * Table of Contents
 * -----------------
 * 1.0 - Container
 * 2.0 - Content
 * 3.0 - Disclaimer
 */



/***********************/
/*** 1.0 - Container ***/
/***********************/

.page-footer {
  text-align: center;
}

.page-footer__content,
.page-footer__disclaimer span {
  display: block;
}



/***********************/
/*** 2.0 - Content ***/
/***********************/

@media only screen and (min-width: 720px) {
  .page-footer__content nav ul {
    margin: 0 -1rem;
  }
  
  .page-footer__content nav li {
    display: inline-block;
    padding: 0 1rem;
  }
}



/************************/
/*** 3.0 - Disclaimer ***/
/************************/

@media only screen and (min-width: 720px) {
  .page-footer__disclaimer span {
    display: initial;
  }
}
