/*
  Skip links
*/

.site-skip-links {
  background: var(--color-blue-400);
}

.site-skip-links:not(:focus-within) {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.site-skip-links a {
  color: white;
  padding: var(--space-x-small);
}
.site-skip-links ul {
  margin: var(--space-medium) 0;
  text-align: center;
  list-style: none;
}

.site-skip-links ul li + li {
  margin-top: var(--space-medium);
}
