/*
  Website Header
*/

m-website-header .website-header-inner-container {
  background-color: var(--color-blue-400);
  margin: 0 calc(-1 * var(--space-small));
}

m-website-header a {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: var(--space-xx-small) var(--space-small);
}

m-website-header a:hover {
  text-decoration: underline;
  text-underline-offset: var(--space-xxx-small);
}
