/**
 * anchors.css
 * 
 * Anchors are pieces of text which marks the beginning and/or
 * the end of a hypertext link.
 *
 * -----------------
 * Table of Contents
 * -----------------
 * 1.0 - Anchors
 *   1.1 - Pseudo Classes
 * 2.0 - Vernacular
 */



/*********************/
/*** 1.0 - Anchors ***/
/*********************/

a {
  color: var(--search-blue-400);
}

/*** 1.1 - Pseudo Classes ***/

a:hover,
a:focus {
  text-decoration-thickness: var(--space-xxx-small);
}



/************************/
/*** 2.0 - Vernacular ***/
/************************/

.browse-table tbody a.vernacular {
  font-weight: inherit;
}



/****************************/
/*** 3.0 - External Links ***/
/****************************/

a[target="_blank"] span[class^="material-symbols"] {
  padding-left: 0.25em;
}
