/**
 * cross-references.css
 * 
 * Cross references display results relating to the listed record.
 *
 * -----------------
 * Table of Contents
 * -----------------
 * 1.0 - Cross References
 * 2.0 - Toggle Cross References
 *   2.1 - Summary
 *     2.1.1 - Content
 */



/******************************/
/*** 1.0 - Cross References ***/
/******************************/

ol.cross-references-list {
  color: var(--search-neutral-500);
  list-style: none;
  margin: 0 0 0 1rem;
  padding: 0;
}



/*************************************/
/*** 2.0 - Toggle Cross References ***/
/*************************************/

details.toggle-cross-references:not([open]) {
  margin-top: 0.25rem;
}

details.toggle-cross-references[open] {
  padding-bottom: 2.125rem;
  position: relative; 
}

/*** 2.1 - Summary ***/

details.toggle-cross-references > summary {
  border: 1px solid var(--search-neutral-500);
  border-radius: var(--radius-default);
  color: var(--search-neutral-500);
  cursor: pointer;
  padding: 0.125rem 0.375rem;
  list-style: none;
  width: fit-content;
}

details.toggle-cross-references > summary::-webkit-details-marker {
  display: none;
}

details.toggle-cross-references[open] > summary {
  bottom: 0;
  position: absolute;
}

/* 2.1.1 - Content */

details.toggle-cross-references:not([open]) .details-open,
details.toggle-cross-references[open] .details-closed  {
  display: none;
}
