/**
 * datastores-navigation.css
 * 
 * Datastores Navigation provides the list of landing pages between
 * the Search and Browse sites
 *
 * -----------------
 * Table of Contents
 * -----------------
 * 1.0 - Container
 * 2.0 - List
 *   2.1 - Anchors
 */



/***********************/
/*** 1.0 - Container ***/
/***********************/

.datastores-nav,
.datastores-nav ol li a {
  border-bottom: solid 0.125rem var(--search-neutral-200);
}
  
.datastores-nav {
  background: var(--search-neutral-100);
}



/******************/
/*** 2.0 - List ***/
/******************/

.datastores-nav ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0 -1rem;
  margin-bottom: -0.125rem;
  padding: 0;
}

@media only screen and (min-width: 720px) {
  .datastores-nav ol {
    flex-direction: row;
  }
}

/*** 2.1 - Anchors ***/

.datastores-nav ol li a {
  display: block;
  padding: 0.75rem 1rem;
  position: relative;
}

.datastores-nav ol li a:not(:hover) {
  text-decoration: none;
}

.datastores-nav ol li a[aria-current=page] {
  font-weight: var(--semibold);
}

.datastores-nav ol li a:not([aria-current=page]) {
  color: var(--search-neutral-600);
}

.datastores-nav ol li a[aria-current=page]:before {
  background-color: var(--search-blue-400);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.125rem;
}

@media only screen and (min-width: 720px) {
  .datastores-nav ol li a[aria-current=page]:before {
    height: 0.125rem;
    top: 100%;
    width: 100%;
  }
}
