/**
 * m-website-header.css
 * 
 * m-website-header is a Design System component that displays
 * the Library logo and shows users what U-M Library website
 * they are using. 
 *
 * -----------------
 * Table of Contents
 * -----------------
 * 1.0 - Inner Container
 * 2.0 - Anchors
 */



/*****************************/
/*** 1.0 - Inner Container ***/
/*****************************/

m-website-header .website-header-inner-container {
  background-color: var(--color-blue-400);
  margin: 0 -0.75rem;
}



/*********************/
/*** 2.0 - Anchors ***/
/*********************/

m-website-header a {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
}

m-website-header a:hover {
  text-decoration: underline;
  text-underline-offset: 0.125rem;
}
