/**
 * pagination.css
 * 
 * Pagination allows users to navigate through the pages of Browse.
 *
 * -----------------
 * Table of Contents
 * -----------------
 * 1.0 - List
 * 2.0 - Anchors
 * 3.0 - Icons
 */



/******************/
/*** 1.0 - List ***/
/******************/

nav.pagination ul {
  display: flex;
  line-height: 1;
  list-style: none;
  padding-left: 0;
}

nav.pagination ul li + li {
  margin-left: 0.75rem;
  padding-left: 0.75rem;
  position: relative;
}

nav.pagination ul li + li:before {
  background-color: var(--color-neutral-400);
  content: '';
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}



/*********************/
/*** 2.0 - Anchors ***/
/*********************/

nav.pagination a {
  align-items: center;
  min-height: 3rem;
  min-width: 3rem;
}



/*******************/
/*** 3.0 - Icons ***/
/*******************/

nav.pagination span[class^="material-symbols"] {
  font-size: 1.5em;
}
