/**
 * search-box.css
 * 
 * The Search Box contains the form and tips that help users
 * directly navigate in Browse.
 *
 * -----------------
 * Table of Contents
 * -----------------
 * 1.0 - Container
 * 2.0 - Form
 *   2.1 - Elements
 *   2.2 - Dropdown
 *   2.3 - Input
 *     2.3.1 - Message
 *   2.4 - Button
 * 3.0 - Tip
 *   3.1 - Icon
 */



/***********************/
/*** 1.0 - Container ***/
/***********************/

.search-box {
  background: var(--search-blue-200);
  border-bottom: solid 0.125rem var(--search-blue-300);
  padding: 0.25rem 0 1rem 0;
}



/******************/
/*** 2.0 - Form ***/
/******************/

.search-box .search-form {
  display: grid;
  grid-template-areas:
  "dropdown dropdown"
  "input button"
  "message .";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
}

@media only screen and (min-width: 720px) {
  .search-box .search-form {
    grid-template-areas:
    "dropdown input button"
    ". message .";
    grid-template-columns: 320px 1fr auto;
  }
}

/*** 2.1 - Elements ***/

.search-box .search-form > * {
  margin-top: 0.75rem;
}

.search-box select,
.search-box input,
.search-box input[aria-invalid] + .message,
.search-box button {
  all: unset;
  box-sizing: border-box;
  line-height: 1.6 !important;
  padding: 0.5rem 0.75rem;
}

.search-box select:focus,
.search-box input:focus,
.search-box button:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-maize-400),
    0 0 0 3px var(--color-neutral-400) !important;
}

.search-box select,
.search-box input {
  background: white;
  border: 1px solid var(--search-blue-400);
  border-radius: var(--radius-default);
  max-width: 100%;
}

/*** 2.2 - Dropdown ***/

.search-box .search-box-dropdown {
  grid-area: dropdown;
  position: relative;
}

.search-box select {
  background: var(--search-neutral-100);
  padding-right: 2.5rem;
  width: 100%;
}

@media only screen and (min-width: 720px) {
  .search-box select {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.search-box .search-box-dropdown m-icon {
  position: absolute;
  right: 0.5rem;
  top: 0.6rem;
  pointer-events: none;
}

@media only screen and (min-width: 720px) {
  .search-box .search-form {
    grid-template-columns: 320px 1fr auto;
    grid-template-rows: auto auto;
  }
}

/*** 2.3 - Input ***/

.search-box input {
  grid-area: input;
}

@media only screen and (min-width: 720px) {
  .search-box input {
    border-bottom-left-radius: 0;
    border-left: 0;
    border-top-left-radius: 0;
  }
}

.search-box input:focus {
  z-index: 1;
}

/*** 2.3.1 - Message ***/

.search-box input[aria-invalid] {
  border-color: var(--color-pink-500);
}

.search-box input[aria-invalid] + .message {
  color: var(--color-pink-500);
  font-size: 0.875em;
  grid-area: message;
  margin-top: 0;
  padding-bottom: 0;
}

/*** 2.4 - Button ***/

.search-box button {
  background: var(--search-blue-400);
  border-bottom: 3px solid var(--search-blue-500);
  border-radius: var(--radius-default);
  color: white;
  cursor: pointer;
  grid-area: button;
  font-weight: 600;
  margin-left: 0.75rem;
}

.search-box button:active {
  background: var(--search-blue-500);
  border-bottom-color: var(--search-blue-600);
}



/*****************/
/*** 3.0 - Tip ***/
/*****************/

.search-box .search-tip {
  display: flex;
  gap: 0.75rem;
  padding-top: 0.75rem;
}

.search-box .search-tip > * {
  margin: 0;
}

/*** 3.1 - Icon ***/

.search-box .search-tip m-icon svg {
  margin-top: 0.25rem;
  width: 1rem;
}
