/**
 * skip-links.css
 * 
 * Skip Links provides an accessible list that can navigate
 * keyboard users directly to certain areas of the site.
 *
 * -----------------
 * Table of Contents
 * -----------------
 * 1.0 - Container
 * 2.0 - List
 * 3.0 - Anchors
 */



/***********************/
/*** 1.0 - Container ***/
/***********************/

.site-skip-links {
  background: var(--color-blue-400);
}

.site-skip-links:not(:focus-within) {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}



/******************/
/*** 2.0 - List ***/
/******************/

.site-skip-links ul {
  margin: 1rem 0;
  text-align: center;
  list-style: none;
}

.site-skip-links ul li + li {
  margin-top: 1rem;
}



/*********************/
/*** 3.0 - Anchors ***/
/*********************/

.site-skip-links a {
  color: white;
  padding: 0.5rem;
}
