/**
 * typography.css
 * 
 * Typography defines the styling of text elements.
 *
 * -----------------
 * Table of Contents
 * -----------------
 * 1.0 - Headings
 * 2.0 - Font Weights
 * 3.0 - Vernacular
 *   3.1 - Pipe
 */



/**********************/
/*** 1.0 - Headings ***/
/**********************/

h1 {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
}



/**************************/
/*** 2.0 - Font Weights ***/
/**************************/

.strong {
  font-weight: var(--bold);
}



/************************/
/*** 3.0 - Vernacular ***/
/************************/

.vernacular {
  color: var(--search-neutral-500);
  display: block;
}

/*** 3.1 - Pipe ***/

.vernacular.pipe {
  display: inline;
}

.vernacular.pipe:before {
  background: var(--search-neutral-500);
  content: '';
  display: inline-block;
  height: 1em;
  margin: 0 var(--space-x-small);
  vertical-align: middle;
  width: 1px;
}
